<!DOCTYPE html>
<html lang="es">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- JQUERY -->
    <script type="text/javascript" src="jquery/jquery.js" defer></script>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="bs/css/bootstrap.css">
    <script type="text/javascript" src="bs/js/bootstrap.bundle.js" defer></script>
    <link rel="stylesheet" href="bs-i/css/bootstrap-icons.css">

    <!-- CUSTOM -->
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <script type="module" src="js/main.js" defer></script>

    <title>Rhelen/Arnica Data Entry</title>
</head>

<body>
    <div id="container-inicio" class="container">
        <header id="banner">
            <img class="img-fluid" src="img/bannerprincipal.jpg" alt="Banner principal">
        </header>

        <div class="col-12 d-flex flex-wrap-reverse justify-content-around mt-4">
            <div class="col-12 col-md-6 mt-3 mt-md-0 p-2">
                <h3 class="text-muted">¡Bienvenido a Rhelen Arnica Xperience!</h3>
                <hr>
                <p>
                    Rhelen Árnica la tradicional tapa roja que contiene nuestros propios extractos de árnica, caléndula,
                    uña de gato y chuchuguaza, con la que conseguimos ese efecto de alivio inmediato. Hoy ponemos a tu
                    disposición manos expertas dedicadas al cuidado y restablecimiento muscular, estamos convencidos de
                    que disfrutarás de una experiencia relajante y de alivio, para ¡que nada te detenga con Rhelen
                    Árnica!
                </p>
                <a href="<%= `${server}dataentry` %>/">
                    <button id="agendar-cita-btn" class="btn btn-outline-warning btn-lg" role="button" style="color:#5c108c">
                        <i class="bi bi-pin"></i>
                        Agendar cita
                    </button>
                </a>
            </div>

            <div class="col-12 col-md-6 text-center">
                <img class="img-fluid rounded" src="img/imagenPrincipal.jpg" alt="Imagen">
            </div>
        </div>
    </div>
</body>

</html>