<!DOCTYPE html>
<html lang="es">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- JQUERY -->
    <script type="text/javascript" src="jquery/jquery.js" defer></script>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="bs/css/bootstrap.css">
    <script type="text/javascript" src="bs/js/bootstrap.bundle.js" defer></script>
    <link rel="stylesheet" href="bs-i/css/bootstrap-icons.css">

    <!-- CUSTOM -->
    <link rel="stylesheet" href="css/style.css">
    <script type="module" src="js/main.js" defer></script>

    <title>Arnica/Rhelen Data Entry</title>
</head>

<body>
    <div id="container-inicio" class="container">
        <header id="banner">
            <img class="img-fluid" src="img/bannerprincipal.jpg" alt="Banner principal">
        </header>

        <div class="col-12 d-flex flex-wrap-reverse justify-content-around mt-4">
            <div class="col-12 col-md-6 mt-3 mt-md-0 p-2">
                <h3 class="text-muted">Informacion inicial</h3>
                <hr>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur facere nemo quos unde ea, eum
                    libero? Quam
                    voluptas impedit ad. Laboriosam eius minima quas unde enim doloribus incidunt similique labore
                    impedit. Eos
                    doloribus ad laboriosam officia incidunt possimus molestias doloremque fugit sit nobis alias
                    voluptates
                    repudiandae sed delectus numquam quam, voluptas placeat qui quas eaque vero, minus voluptatibus
                    ratione dolore.
                    Pariatur in nesciunt, consequuntur animi odio, voluptatibus dolorem repellendus consequatur
                    voluptatem autem
                    tempore iure molestiae illum dicta eligendi quisquam non molestias deserunt.
                </p>
                <a href="http://10.80.35.24:8000/dataentry">
                    <button id="agendar-cita-btn" class="btn btn-outline-primary btn-lg" role="button">
                        <i class="bi bi-pin"></i>
                        Agendar cita
                    </button>
                </a>
            </div>

            <div class="col-12 col-md-6 text-center">
                <img class="img-fluid rounded" src="img/imagenPrincipal.jpg" alt="Imagen">
            </div>
        </div>
    </div>
</body>

</html>