<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bs/css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="bs/js/bootstrap.js" defer></script>
    <title>Document</title>
</head>

<body>
    <div class="container mt-3">
        <div class="alert alert-primary" role="alert">
            <strong>Servidor NODE JS</strong>
            Puerto: <span class="text-red">
                <%= port %>
            </span>
        </div>
    </div>

</body>

</html>