#container-dataquery {
    margin: 0 auto;
    box-shadow: 0 0 15px #00000050;
    padding: 25px 10px 25px 10px;
    border-radius: 0 0 10px 10px;
}

#eventos-estaciones-div {
    max-height: 500px;
    overflow-y: auto;
}

#container-inicio {
    box-shadow: 0 0 15px #00000050;
    padding: 10px 10px 25px 10px;
    border-radius: 0 0 10px 10px;
}

#progreso-registro {
    min-height: 45px;
    background-color: #5c108c;
}

#progreso-registro .paso {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #f8ab1f;
    color: #5c108c;
    font-size: 80%;
    font-weight: bold;
}

.estacion-img {
    max-height: 300px;
}

#calendar {
    margin-top: 40px;
}

.event a {
    background-color: #42B373 !important;
    background-image: none !important;
    color: #ffffff !important;
}

#preloader-modal div {
    background-color: transparent;
    border: 0px;
}

.table {
    width: 100% !important;
}

.accordion-button {
    background-color: #5c108c !important;
    color: #f5b700 !important;
}

.accordion-button.sub {
    background-color: #dca5ff !important;
    color: #5c108c !important;
}

.accordion-body {
    background-color: antiquewhite;
}

.accordion-body.sub {
    background-color: #fff;
}

/* MEDIA QUERIES */

@media (max-width:720px) {
    #container-dataquery {
        width: 98%;
    }
}

@media (min-width:720px) {
    #container-dataquery {
        width: 75%;
    }
}